.top-image .text-center img {
    /* width: 100%; */
    height: 14rem;
    width: 100%;
}

.search-panel {
    background: url(https://i.postimg.cc/FF2ckw2X/edit-bg-leaves.jpg) repeat-x;
    height: 14rem;
    background-position: center;
    color: white;
}